@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 88%, 92%);
  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --card-shadow: #c0bfb89e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--cream);
  display: flex;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  min-height: 100vh;
  width: 100%;
}

picture {
  flex: 1.2;
}

img {
  height: 100%;
  width: 100%;
}

h1 {
  color: var(--very-dark-blue);
}

p {
  color: var(--dark-grayish-blue);
  font-size: 0.875rem;
  font-weight: 500;
}

.card,
.product-info,
.price,
button {
  display: flex;
}

.card,
button {
  border-radius: 0.625rem;
}

h1,
#new-price {
  font-family: "Fraunces", serif;
}

#new-price,
.attribution a {
  color: var(--dark-cyan);
}

.card {
  background-color: var(--white);
  height: 33.75em;
  margin-top: 1rem;
  max-width: 45.625em;
  overflow: hidden;
  width: 90%;
}

.product-info {
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding: 0.5rem 2rem;
}

.product-category {
  letter-spacing: 0.5rem;
}

.product-heading {
  font-size: clamp(1.4rem, 1.4rem + 2vw, 2.6rem);
}

.product-description {
  font-size: clamp(0.875rem, 0.45rem + 2vw, 0.97rem);
  word-spacing: 3px;
  line-height: 2.3;
}

.price {
  align-items: center;
  gap: 1.25rem;
  height: 3rem;
}

#new-price {
  font-size: 2.625rem;
}

#old-price {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  text-decoration: line-through;
}

button {
  background-color: var(--dark-cyan);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 0.9687rem;
  font-weight: 700;
  justify-content: center;
  padding: 1.125rem;
  text-align: center;
  transition: 0.2s ease-in;
}

button:hover {
  --darker-cyan: hsl(158, 36%, 25%);
  background: var(--darker-cyan);
}

button img {
  width: 1rem;
}

.attribution {
  font-size: clamp(0.7125rem, calc(0.7rem + 1.2vw), 1rem);
  margin-bottom: 1rem;
  text-align: center;
  width: 90%;
}

.attribution a {
  font-weight: 700;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 44.937em) {
  body {
    gap: 0;
  }

  .card {
    flex-direction: column;
    height: auto;
    padding-bottom: 0.625rem;
    margin: 2rem 0;
  }

  .product-info {
    padding: 1rem 1.4rem 1rem;
    row-gap: 0.8125rem;
  }

  .product-description {
    line-height: 1.8;
  }

  #new-price {
    font-size: 2.1875rem;
  }

  #old-price {
    font-size: 0.9375rem;
  }

  button {
    padding: 1rem;
  }

  .attribution {
    margin-bottom: 1.5rem;
  }
}
